<h1>this is our heading</h1>

<h2>this is the current date: {{ current_time }}}</h2>

<dl>
    <dt>What is a client</dt>
    <dd>The user. It could be a computer, tablet, or mobile device that is connected to the web.</dd>
</dl>
    <dl>What is a server</dl>
    <dd>It is a device that waits for requests from the user</dd>
<dl>
    <dt>What is an Http request?</dt>
    <dd>It is the query that is sent to the server. It contains the Type of request, the Header, and sometimes that Body.</dd>
</dl>
<dl>
    <dt>What is an Http response?</dt>
    <dd>It is the response sent back to the client. It contains the Status Code, the Header, and sometimes the Body.</dd>
</dl>
<dl>
    <dt>What is Django and why do we use it?</dt>
    <dd>It is Python modules that allow you to intercept requests and form responses.</dd>
</dl>